/FW/Rev1/build
/FW/Rev1/dist
/FW/Rev1/image/
/FW/Rev1/generated-headers
/FW/Rev1/nbproject/private
/FW/Rev1/nbproject/Makefile-variables.mk
/FW/Rev1/nbproject/Makefile-default.mk
/FW/Rev1/nbproject/Makefile-genesis.properties
/FW/Rev1/nbproject/Makefile-impl.mk
/FW/Rev1/nbproject/Makefile-local-default.mk
